h3,
p {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    text-shadow: 2px -2px 0 #fff;
    background-image: url('http://surl.li/kmlgg');
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.breed-select {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    border: none;
}

.loader {
    font-weight: 700;
}

.error {
    font-weight: 700;
    color: red;
}

.cat {
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

.cat-img {
    display: block;
    max-width: 450px;
    max-height: 450px;
}

.cat-info-box {
    font-size: 16px;
}

.cat-breed {
    font-weight: 900;
    font-size: 28px;
}

.cat-info:not(:last-child) {
    margin-bottom: 15px;
}

.bold {
   font-weight: 700;
}